/* 개인css */
button{
  cursor: pointer;
}
a{
  color: black;
  font-size: 20px;
}
/* 폰트 적용 */
body,html,input {
  font-family: 'omyu_pretty';
}

/* 메인 시작 */
.main-content{
  /* width: 1024px; */
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-content-contaniner{
  width: 1024px;
  /* width: 100%; */

  height: 1700px;
  /* margin: 10px auto; */
  padding: 10px 0;
  /* background-color: rgb(97, 25, 25); */
}

.main-content-title-text01{
  margin: 30px 0 20px 0;
  font-size: 60px;
  /* line-height: 100px; */
  /* background-color: yellow; */
  /* border: 2px solid #27220e; */
}

.main-content-contaniner-form-hr{
  /* display: flex; */
  /* align-items: center; */

  width: 40%;
  /* height: 100px; */
  margin: 25px auto;
  /* border-radius: 10px; */
  /* padding: 10px 0; */
  /* background-color: rgb(164, 108, 108); */
  border: 1px solid #FCD11E;
}

.main-content-contaniner-form2{
  width: 1024px;
  height: 40px;
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
  text-indent: 20px;
  border: 2px solid #FCD11E;
}
.main-content-contaniner-form2 a{
 color: #FCD11E; 
}
.main-content-contaniner-form3{
  margin: 20px auto;
  width: 100%;
  height: 700px;
  border: 2px solid rgb(30, 137, 252);

  display: flex;
}
.form3-left{
  width: 35%;
  border: 2px solid rgb(30, 252, 93);
  height: 700px;
}

.form3-right{
  width: 65%;
  border: 2px solid rgb(252, 30, 237);
  height: 700px;
}

/* 메인 끝 */