/* 공통 시작 */
/* 폰트 */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 폰트 */
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* 공통 끝 */

/* 개인css */
input, button{
  cursor: pointer;
}
a{
  color: black;
  font-size: 20px;
}
/* 폰트 적용 */
body,html {
  font-family: 'omyu_pretty', sans-serif;
}


/* 공통 끝 */

/* 헤더 시작 */
.header{
  /* width: 1535.5px; */
  width: 100%;
  min-width: 1024px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
}
.header-section01{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #FCD11E;
}
.header-section01-nav{
  /* width: 70%; */
  height: 100%;
  min-width: 1024px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* font-size: 13px; */
  /* background-color: red; */
}
.header-section01-nav li{
  display: inline-block;
  margin-right: 20px;
}
.header-section02{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  /* background-color: blueviolet; */
}
.header-section02-container{
  /* width: 45%; */
  min-width:1024px;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: pink; */
}
.header-logo{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}
.header-logo img{
  width: 140px;
  height: 60px;
  /* background-color: red; */
}
.header-section02-nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: palevioletred; */
}
.header-section02-nav li{
  display: inline-block;
  margin: 0 50px;
}
/* 헤더 끝 */

/* 메인 시작 */
main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-outline-container{
  width: 980px;
  height: auto;
}
.main-outline-container02{
  width: 980px;
  height: auto;
  display: flex;
  justify-content: center;
}
/* 메인 끝 */

/* 푸터 시작 */

.footer{
  /* width: 1535.5px; */
  width: 100%;
  min-width: 1024px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5F5F5;
}
.footer-container01{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid #E4E4E4;
  /* background-color: bisque; */
}
.footer-containerbox01{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}
.footer-container01-nav{
  width: 80%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  /* background-color: blueviolet; */
}
.footer-container01-nav li{
  margin: 3px 0;
}
.footer-container01-img{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: palevioletred; */
}
.footer-container01-img img{
  width: 75px;
  height: 90px;
}
.footer-container02{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  /* background-color: pink; */
}
.footer-containerbox02{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 13px;
  /* background-color: greenyellow; */
}
/* .footer-container02-nav{
   
}*/
.footer-container02-nav li{
  display: inline-block;
  margin: 0 20px;
}
/* 푸터 끝 */
